

.head0{
    background: url(../imagenes/fondo_pestañas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

nav{
  width: 41%;
  background-color: rgb(119, 191, 163, 0.8);
  margin-top: 25px;
  margin-left: 50px;
  border-radius: 6px;
  

}

ul{
  padding: 2px;
  margin: 0px 0px 0px 0px;
  list-style: none;
}
.nav-link{
margin-inline-end: 25px ; 
font-family:'kurri_island_capsbold' ;
font-size: 18px;
}

nav ul li a{
  width: 100%;
  display: inline-table;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
 
}


.logo{
  margin-left: 28%;
  width: 35%;/*80vh;*/
}

.caja_logo{
  background-color:rgb(221, 231, 199, 0.8);
  width: 86%;
  margin-left: 90px;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 40px;
}

.head1{
 /* background: url(../imagenes/frutas.jpg); */
 background-color: #bfd8bd;
 background-repeat: no-repeat;
 background-size:auto;
}

.titulo{
  animation: fadeInLeft;
  animation-duration: 2s;
  animation-delay: 1s;
  color: #0a0908;
  font-size: 50px;
  font-family: 'kurri_island_caps_personalTh';
}
.contenido{
  color: #22333b;
  font-size: large;
  font-style: italic;
  font-family: 'kurri_island_caps_personalLt';

}



.head2{
  background-color:  #dde7c7;
}


.boton{
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  text-decoration: none;
  color: black;
}

.mision{
  border-radius: 60%;
  max-width:80%;
  opacity: 90%;
  margin: 20px;
}

.svg{
  width: 100%;
  height: 100%;
}

footer{
  background-color: black;
}

.titulo_footer{
  color: white;
  font-family: 'kurri_island_caps_italicsbold';
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


/* Sweep To Top */
.hvr-sweep-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border-radius: 10px;
}
.hvr-sweep-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #77bfa3;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-radius: 10px;
}
.hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
  color: whitesmoke;
  text-decoration: none;
}
.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}








/* Responsive */



@media screen and (max-width: 800px){

  nav{
    width: 100%;
    margin-left: 0px;

}
.logo{
  margin-left: 0;
  width: 100%;
}

.caja_logo{
  width: 100%;
  margin-left: 0px;
  margin-top: 25px;
  border-radius: 40px;
}
.svg{
  width: 100%;
  height: 80%;
}

.titulo_footer{
    margin-inline: 5px;
}
}





/* Animaciones*/

/* Overline From Left */
.hvr-overline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-overline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    top: 0;
    background: #bfd8bd;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-overline-from-left:hover:before, .hvr-overline-from-left:focus:before, .hvr-overline-from-left:active:before {
    right: 0;
  }


 /*! Generated by Font Squirrel (https://www.fontsquirrel.com) on November 24, 2020 */



@font-face {
  font-family: 'kurri_island_caps_italicsbold';
  src: url('kurriislandcapsitapersonal-bd-webfont.woff2') format('woff2'),
       url('kurriislandcapsitapersonal-bd-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'kurri_island_caps_personalBlk';
  src: url('kurriislandcapspersonal-black-webfont.woff2') format('woff2'),
       url('kurriislandcapspersonal-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'kurri_island_capsregular';
  src: url('kurriislandcapspersonal-reg-webfont.woff2') format('woff2'),
       url('kurriislandcapspersonal-reg-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'kurri_island_caps_personalLt';
  src: url('kurriislandcapspersonal-light-webfont.woff2') format('woff2'),
       url('kurriislandcapspersonal-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'kurri_island_caps_personalMd';
  src: url('kurriislandcapspersonal-med-webfont.woff2') format('woff2'),
       url('kurriislandcapspersonal-med-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'kurri_island_caps_personalTh';
  src: url('kurriislandcapspersonal-thin-webfont.woff2') format('woff2'),
       url('kurriislandcapspersonal-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'kurri_island_capsbold';
  src: url('kurriislandcapspersonal-bold-webfont.woff2') format('woff2'),
       url('kurriislandcapspersonal-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}